ingforms/declercq/xsd/page.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="page">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ingevoerd_door" type="xs:string" />
        <xs:element name="jaar" type="xs:unsignedShort" />
        <xs:element name="scannummer" type="xs:string" />
        <xs:element name="url" type="xs:string" />
        <xs:element name="links_of_rechts" type="xs:string" />
        <xs:element name="paginanummer" type="xs:unsignedByte" />
        <xs:element name="transcriptie" type="xs:string" />
        <xs:element name="opmerkingen" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

