ingforms/constitutionele_commissies/xsd/factsheetinstelling.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="factsheetinstelling">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="naam" type="xs:string" />
        <xs:element name="naam_varianten" type="xs:string" />
        <xs:element name="periode_van_bestaan" type="xs:string" />
        <xs:element name="organisatie" type="xs:string" />
        <xs:element name="taken" type="xs:string" />
        <xs:element name="literatuur" />
        <xs:element name="betrokken">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="commissie" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="opmerkingen_archivalia" />
        <xs:element name="opmerkingen" />
        <xs:element name="aangemaakt_door" type="xs:string" />
        <xs:element name="gewijzigd_door" type="xs:string" />
        <xs:element name="gewijzigd_op" type="xs:string" />
        <xs:element name="aantekeningen" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

