ingforms/constitutionele_commissies/xsd/factsheetpersoon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="factsheetpersoon">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="naam" type="xs:string" />
        <xs:element name="leefjaren" type="xs:string" />
        <xs:element name="politieke_partij" type="xs:string" />
        <xs:element name="functies" type="xs:string" />
        <xs:element name="biografische_gegevens_in" type="xs:string" />
        <xs:element name="literatuur_in_lijst" />
        <xs:element name="zitting">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="zitting_in">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="commissie" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="betrokken">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="betrokken_bij">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="commissie" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="opmerkingen_archivalia" />
        <xs:element name="opmerkingen" type="xs:string" />
        <xs:element name="aangemaakt_door" type="xs:string" />
        <xs:element name="gewijzigd_door" type="xs:string" />
        <xs:element name="gewijzigd_op" type="xs:string" />
        <xs:element name="aantekeningen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

