ingforms/constitutionele_commissies/xsd/tekst.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tekst">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="titel" type="xs:string" />
        <xs:element name="tekst" type="xs:string" />
        <xs:element name="annotatie" />
        <xs:element name="aantekeningen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

