ingforms/godsdienstpolitiek/xsd/advieskiz.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="advieskiz">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="date_document">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="year" type="xs:unsignedShort" />
              <xs:element name="month" type="xs:unsignedByte" />
              <xs:element name="day" type="xs:unsignedByte" />
              <xs:element name="comment" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="author" type="xs:string" />
        <xs:element name="recipient" type="xs:string" />
        <xs:element name="short_description" type="xs:string" />
        <xs:element name="keyword_geography" />
        <xs:element name="keyword_person" />
        <xs:element name="keyword_subject">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="subject">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="keyword" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="published_in" type="xs:string" />
        <xs:element name="archival_references" type="xs:string" />
        <xs:element name="see_also" />
        <xs:element name="scan" type="xs:string" />
        <xs:element name="link_scan" />
        <xs:element name="remarks" />
        <xs:element name="aantekeningen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

