ingforms/godsdienstpolitiek/xsd/besluiten.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="besluiten">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="besluit">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="year" type="xs:unsignedShort" />
              <xs:element name="month" type="xs:unsignedByte" />
              <xs:element name="day" type="xs:unsignedByte" />
              <xs:element name="comment" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="archival_section_number" type="xs:string" />
        <xs:element name="secret" type="xs:string" />
        <xs:element name="decisionmaker" type="xs:string" />
        <xs:element name="short_description" type="xs:string" />
        <xs:element name="summary" type="xs:string" />
        <xs:element name="besluit_invnr" type="xs:unsignedShort" />
        <xs:element name="remarks" type="xs:string" />
        <xs:element name="keyword_geography">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="geography">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="keyword" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="keyword_person">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="person">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="keyword" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="keyword_islam" />
        <xs:element name="keyword_hbco" />
        <xs:element name="keyword_pc">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="keyword" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="keyword_cc" />
        <xs:element name="related_records_besluiten" />
        <xs:element name="related_records_verbaal" />
        <xs:element name="related_records_mailrapporten" />
        <xs:element name="related_records_staatsblad" />
        <xs:element name="reference_kviv" />
        <xs:element name="aantekeningen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

